h1{
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
} 

h2{
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2.level-goal{
    font-size: 30px;
    font-family: "tahoma" !important;
    color: blue;
}

h1.section-level,h2.section-level{
    color: #999;
    font-family: "tahoma" !important;
    font-size: 30px;
}           

img{
    vertical-align: middle;
    margin: 0px 30px;
}

p.body-site, a.body-site{
    font-family: "algerian";
    font-size: 24px;
}

a.header-site{
    color: lime;
    margin: 0px 20px;
    height: 8px;
    font-size: 24px;
}

a.navigate{
    color: revert;
}

.blue{
    color: blue;
}

.gray{
    color: gray;
}
